$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body {
    margin: 50px;
    font-family: 'Nunito', sans-serif;
}

.container {
    align: center;
    background-color: yellow;
    width: 600px;
    height: 600px;
}

.header {
    height: 150px;
    width: 100%;
}

.button {
    height: 50px;
    width: 200px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgb(71, 119, 69);
    margin-top: 100px;
    border-radius: 10px;
    font-size: 26px;
    line-height: 42px;
    box-shadow: inset  0px -10px 0px 0px rgb(43, 87, 32);
    
}