$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body {
    margin: 50px;
    background-color: rgb(183, 182, 182);
    font-family: 'Nunito', sans-serif;
}

.button {
    display: inline-block;
    height: 30px;
    width: 100px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    background-color: #134024;
    margin-top: 20px;
    line-height: 25px;   
}

.container {
    align: center;
    background-color: #134024;
    color: white;
    width: 800px;
    height: 600px;
}

.display-user-name {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 28px;
    float: right;
    height: 30px;
    width: 150px;
}

.header {
    margin-left: 250px;
    margin-right: 240px;
    padding-right: 60px;
    height: 150px;
    width: 900px;
    
}

.title {
    width: 100%;
    font-size: 45px;
}

.footer {
    margin-left: 300px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
}

.input-box {
    display: inline-block;
    border: 1px solid black;
    width: 640px;
}

.submit {
    display: inline-block;
    background-color: #134024;
    line-height: 25px;
    height: 30px;
    width: 100px;
    color: white;
    letter-spacing: 1px;
}


